.why-choose-us {
  background: #f2f6f8;
  &-head {
    margin-bottom: 3rem;
    @include breakpoint-up(md) {
      margin-bottom: 5rem;
    }
    @include breakpoint-up(lg) {
      margin-bottom: 6rem;
    }
    h1 {
      font-weight: $normal;
      font-size: 3.5rem;
      @include breakpoint-up(md) {
        font-size: 5rem;
      }
    }

    .slider_nav {
      .btn-prev,
      .btn-next {
        border: none;
        padding: 0;
        height: 2.2rem;
        width: 1rem;
        cursor: pointer;
        @include breakpoint-up(lg) {
          height: 2.8rem;
          width: 1.5rem;
        }
        @include breakpoint-up(x-lg) {
          height: 3rem;
          width: 1.5rem;
        }
      }
      .btn-prev {
        margin-right: 3rem;
        @include breakpoint-up(x-lg) {
          margin-right: 6rem;
        }
      }
    }
  }
  .hide-carousel .owl-stage-outer .owl-stage {
    transform: unset !important;
  }
  .carousel {
    width: 100%;
    display: grid;
    position: relative;
    @include breakpoint-up(md) {
      grid-template-columns: 3fr 1fr;
      column-gap: 2rem;
      padding-right: 0 !important;
    }
    &-left,
    &-right {
      width: 100%;
      overflow: hidden;
      .desc {
        padding: 3rem;
        position: relative;
        @include breakpoint-down(md) {
          padding-top: 0rem !important;
        }
        @include breakpoint-up(lg) {
          padding: 4rem;
          padding-bottom: 0rem !important;
        }
        @include breakpoint-up(xx-lg) {
          padding: 6rem;
        }

        .count {
          font-weight: $bold;
          font-size: 2.1rem;
          @include breakpoint-up(x-lg) {
            font-size: 4rem;
          }
          @include breakpoint-down(md) {
            padding-top: 3rem;
          }
        }
        .sub-head {
          font-weight: $normal;
          font-size: 2rem;
          padding-top: 1.5rem;
          @include breakpoint-up(md) {
            margin-bottom: 3rem;
            padding-top: 1.5rem;
          }
          @include breakpoint-up(x-lg) {
            font-size: 3.2rem;
          }
        }
        .sub-desc {
          display: none;
          overflow: hidden;
          font-size: 1.6rem;
          line-height: 2.7rem;
          @include breakpoint-up(md) {
            display: block;
            overflow: initial;
          }
          @include breakpoint-up(x-lg) {
            font-size: 1.8rem;
            line-height: 3.5rem;
          }
        }
        .rect {
          position: absolute;
          width: 3rem;
          height: 3rem;
          bottom: 0;
          right: 0;

          @include breakpoint-up(md) {
            width: 4rem;
            height: 4rem;
            right: 0;
            top: 0;
          }
          @include breakpoint-up(x-lg) {
            width: 6.4rem;
            height: 6.4rem;
          }
          .hide-icon {
            @include breakpoint-up(md) {
              display: none !important;
            }
          }
        }
      }
    }
    &-left {
      color: $white;
      @include breakpoint-up(md) {
        background: #04353e;
      }
      .desc {
        .count {
          .icon {
            width: 2rem;
            height: 2rem;
            border: 1px solid $white;
            border-radius: 50%;
            margin-left: auto;

            svg {
              transform: rotate(-90deg);
              transition: 0.3s;
            }
          }
          &.rotate {
            svg {
              transform: rotate(0deg);
            }
          }
        }
        .acc_ctrl-1 {
          &.rotate {
            svg {
              transform: rotate(0deg);
            }
          }
        }
      }
      .item {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 3rem;
        background: #04353e;
        @include breakpoint-up(md) {
          grid-template-columns: 1fr 1fr;
          margin-bottom: 0;
        }
        .image {
          @include breakpoint-down(md) {
            height: 28rem;
          }

          img {
            height: 100%;
            @include breakpoint-up(md) {
              margin-left: -1px;
            }
            @include breakpoint-up(md) {
              // height: 100vh !important;
              object-fit: initial !important;
            }
            @include breakpoint-up(lg) {
              height: 100% !important;
              object-fit: initial !important;
            }
          }
        }
      }
      @include breakpoint-down(md) {
        .item1 {
          background: #04353e;
        }
        .item2 {
          .icon {
            border-color: #000 !important;
            svg path {
              stroke: #000;
            }
          }
        }
        .item2 {
          background: $white;
          color: #000;
        }
        .item3 {
          background: #151515;
        }
        .sub-desc {
          padding-top: 3rem;
          padding-bottom: 3rem;
        }
      }
    }
    &-right {
      background: $white;
      .owl-carousel-right {
        display: block;

        .item {
          .sub-desc {
            @include breakpoint-up(md) {
              overflow: hidden;
            }
          }
        }
      }
    }
    .owl-nav.disabled {
      display: none;
    }

    @include breakpoint-up(lg) {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 30%;
        height: 100%;
        background: #2b8999;
        -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
        clip-path: polygon(0 0, 0% 100%, 100% 0);
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -10rem;
        right: 0;
        width: 10rem;
        height: 10rem;
        background: #2b8999;
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
        clip-path: polygon(0 100%, 100% 100%, 100% 0);
      }
    }
    @include breakpoint-up(x-lg) {
      &::before {
        width: 25%;
      }
      &::after {
        bottom: -8rem;
        width: 8rem;
        height: 8rem;
      }
    }
  }
}

.carousel-left {
  @include breakpoint-up(md) {
    height: 100% !important;
  }
  .owl-carousel {
    @include breakpoint-up(md) {
      height: 100% !important;
    }
    .owl-stage-outer {
      @include breakpoint-up(md) {
        height: 100% !important;
      }
      .owl-stage {
        @include breakpoint-up(md) {
          height: 100% !important;
        }
        .owl-item {
          @include breakpoint-up(md) {
            height: 100% !important;
          }
          .item {
            @include breakpoint-up(md) {
              height: 100% !important;
            }
            .image {
              @include breakpoint-up(md) {
                height: 100% !important;
              }
            }
          }
        }
      }
    }
  }
}
